p {
    margin: 0;
}


.pros-top-box .top {
    text-align: center;
}

.pros-top-box .top h2{
    margin-bottom: 52px;
    margin-top: 0;
}

.pros-top-box{
    margin-top: 165px;
}
.pros-top-box {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}


.pros-desc{
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 43px;
    letter-spacing: 0px;
    color: #22284d;
}

#dis-top {
    padding-top: 2em;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


#dis-top .banner-desc,
#dis-transfer .banner-desc {
    font-family: Poppins-Regular;
    line-height: 41px;
    font-size: 20px;
    letter-spacing: 0px;
    color: #000000;
}

#dis-top .banner-desc{
    /*margin: 43px auto 80px;*/
    margin: 10px auto 0px;
}

#dis-top .banner-btn {
    display: inline-block;
    padding: 15px 40px;
    margin-top: 40px;
    background: #23A6F0;
    border-radius: 37px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
#dis-top .dis-banner{
    width: 459px;
    height: 296px;
    border-radius: 30px;
    background: url(../images/dis-card2.webp) no-repeat center;
    background-size: cover;
}

#dis-transfer .dis-banner{
    width: 459px;
    height: 296px;
    border-radius: 30px;
    background: url(../images/dis-card1.jpg) no-repeat center;
    background-size: cover;
}

#dis-transfer .dis-img-box{
    display: flex;
    justify-content: end;
}

/*#dis-top .dis-banner img,
#dis-transfer .dis-banner img{
    !*width: 100%;*!
    width: 459px;
    height: 296px;
    border-radius: 30px;
    !*background: url(../images/transfer.png) no-repeat;*!
    !*background-size: 100%;*!
}*/

#dis-transfer {
    margin-top: 165px;
}

#dis-partner .transfer-bank {
    margin-top: 80px;
}

#dis-partner .card-img-left,
#dis-partner .card-img-top{
    width: 354px;
    background: url("../images/dis-card3.png") no-repeat center;
    background-size: cover;
}


#dis-partner .card-img-logo{
    position: absolute;
    left: 8.2%;
    top: 42%;
    width: 167px;
    height: 36px;
    background: url("../images/logo-white.png") no-repeat;
    background-size: 100% 100%;
}

#dis-partner .bank-img {
    width: 247px;
    height: 247px;
    margin: 0 auto;
    background: url(../images/bank.png) no-repeat;
    background-size: 100%;
}

#dis-partner .bank-desc {
    font-family: Poppins-Bold;
    font-size: 28px;
    color: #000d3b;
    margin-bottom: 27px;
}
#dis-partner .card-img-top{
    /*height: 300px;*/
}
#dis-partner .card-partner-1{
    /*background: url(../images/cardWhy1.jpg) no-repeat;*/
    /*background-size: 100%;*/
}


#dis-partner ul {
    padding-left: 0;
}

#dis-partner ul li {
    position: relative;
    list-style-type: none;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0px;
    color: #22284d;
}


#dis-partner .dis-card{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 4px 5px 24px 0px #dde6ff;
    border-radius: 50px;

}
#dis-partner .dis-card-box{
    padding: 40px 73px;
}

#dis-partner .card{
    flex-direction: row;
    margin-bottom: 0;
}

#dis-partner .card-item{
    width: auto;
}

#dis-partner .card-item p{
    height: auto;
}

#dis-partner .card-item img{
    width: 354px;
}

#keyFeature {
    text-align: center;
    margin-top: 165px;
}

#keyFeature .key-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

#keyFeature .top h2{
    margin-bottom: 0;
}

#keyFeature .index-item{
    width: 30%;
    padding: 0 10px;
    margin-top: 70px;
}
#keyFeature .index-item .icon{
    margin: 0 auto;
}

#introduce {
    /*margin-top: 100px;*/
}

#introduce .des-box{
    width: 944px;
    margin: 0 auto;
    text-align: center;
}
#introduce .arrow-des{
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 43px;
    color: #000d3b;
}


#introduce .arrow-img {
    margin: 63px auto;
}

#introduce .arrow-img .logo{
    margin: 75px auto;
}

#introduce .arrow img{
    width: 48px;
    height: 46px;
}

#introduce .logo img{
    /*width: 701px;*/
    height: 150px;
}

.cardItem .icon span {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}
.cardItem .icon-pg-1 {
    background: url(../images/pg-icon-1.png) no-repeat;
}
.cardItem .icon-pg-2 {
    background: url(../images/pg-icon-2.png) no-repeat;
}
.cardItem .icon-pg-3 {
    background: url(../images/pg-icon-3.png) no-repeat;
}
.cardItem .dis-icon-1 {
    background: url(../images/dis-icon-1.png) no-repeat;
}
.cardItem .dis-icon-2 {
    background: url(../images/dis-icon-2.png) no-repeat;
}
.cardItem .dis-icon-3 {
    background: url(../images/dis-icon-3.png) no-repeat;
}
.cardItem .dis-icon-4 {
    background: url(../images/dis-icon-4.png) no-repeat;
}
.cardItem .dis-icon-5 {
    background: url(../images/dis-icon-5.png) no-repeat;
}
.cardItem .dis-icon-6 {
    background: url(../images/dis-icon-6.png) no-repeat;
}


/*按钮下拉框*/
.drop-down-box {
    position: relative;
    display: inline-block;
}

.drop-btn{
    background-color: #ffffff;
    color: #4a86ff;
    padding: 6px 14px;
    border-radius: 5px;
    border: solid 1px #4a86ff;
    cursor: pointer;
}

.drop-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 15px;
    min-width: 123px;
    font-size: 15px;
    color: #838f9c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid #e4eaf2;
    border-radius: 3px;
    z-index: 99;
}

.drop-box{
    text-align: right;
}

.drop-menu li{
    display: block;
    width: 100%;
    padding: 8px 10px;
    clear: both;
    color: #838f9c;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.drop-menu-show{
    display: block;
}

.drop-btn:active drop-menu{
    display: block;
}

@media screen and (max-width:991px) {
    .pros-top-box{
        margin-top: 65px;
    }
    .pros-top-box .top h2 {
        margin-bottom: 21px;
        font-size: 26px;
        margin-top: 0;
        margin-bottom: 0;
        line-height: normal;
    }

    .pros-desc{
        font-size: 15px;
        line-height: 28px;
    }
    .index-item .icon img{
        height: 90px;
    }
    /* top */
    #dis-top h2,
    #dis-transfer h2,
    #introduce h2{
        font-size: 26px;

    }

    #dis-transfer h2{
        text-align: center;
    }

    #dis-partner h2{
        font-size: 20px;
        line-height: 28px;
    }

    #dis-partner .top{
        width: 380px;
        margin: 0 auto;
    }

    #dis-top .dis-top-box,
    #dis-transfer .dis-transfer-box{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        margin: 0;
    }

    #dis-top .dis-top-box{

    }

    #dis-top .banner-desc,
    #dis-transfer .banner-desc{
        font-size: 13px;
        line-height: 25px;
    }

    /*#dis-top .dis-banner img,*/
    /*#dis-transfer .dis-banner img{*/
        /*width: 200px;*/
        /*height: 164px;*/
    /*}*/

    #dis-top .dis-banner{
        width: 200px;
        height: 164px;
        border-radius: 15px;
    }

    #dis-transfer{
        margin-top: 65px;
    }

    #dis-transfer .dis-banner{
        width: 200px;
        height: 182px;
        border-radius: 15px;
    }


    #dis-top .col-md-6, #dis-top .col-sm-12,
    #dis-transfer .col-md-6, #dis-transfer .col-md-5, #dis-top .col-sm-12
    {
        padding: 0;
    }

    #dis-top{
        padding-top: 7em;
        margin: 0 auto;
    }

    #dis-top .banner-desc{
        margin: 0;
    }

    #dis-transfer .banner-desc{
        padding-left: 10px;
    }

    #dis-partner .partner-card-box{
        margin-top: 34px;
    }

    #dis-partner .card{
        flex-direction: column;
    }
    #dis-partner .card-body{
        padding: 10px;
    }


   /* #dis-partner .card-item img{
        width: auto;
        height: 200px;
    }*/

    #dis-partner .card-img-top{
        width: auto;
        height: 132px;
    }

    #dis-partner .card-img-logo{
        top: 14.7%;
        left: 29%;
    }

    #dis-partner .card-item p{
        font-size: 14px;
        line-height: 12px;
        padding-left: 0;
    }

    #dis-partner .card-item li{
        font-size: 13px;
        line-height: 20px;
        margin-top: 10px;
    }

    #dis-partner .card-item li span{
        /*margin-left: 10px;*/
    }

    #dis-partner .card-item li>i{
        width: 3px;
        height: 12px;
        background: #3071f2;
        border-radius: 1px;
        position: absolute;
        content: "";
        top: 2px;
        left: -10px;
    }

    #keyFeature{
        margin-top: 65px;
    }
    #keyFeature .key-box{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
    }

    #keyFeature .index-item{
        width: 31%;
        margin-top: 40px;
        padding: 0;
    }
    #keyFeature .index-item .icon{
        width: 167px;
        height: 138px;
        border-radius: 25px;
    }

    #keyFeature .index-item .title{
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0px;
        margin: 21px auto 8px;
    }

    #keyFeature .index-item .detail{
        font-size: 13px;
        line-height: 14px;
        letter-spacing: 0px;
    }

    #introduce .des-box{
        margin-top: 39px;
        width: auto;
    }
    #introduce .arrow-des{
        font-size: 15px;
        line-height: 22px;
    }

    #introduce .logo img{
        /*width: 351px;*/
        height: 75px;
    }

    #introduce .arrow img {
        width: 24px;
        height: 23px;
    }

    #introduce .arrow-img {
        margin: 41px auto;
    }

    #introduce .arrow-img .logo{
        margin: 38px auto;
    }
}

@media screen and (max-width:768px) {
    #keyFeature .index-item{
        width: 48%;
    }
}
