p {
    margin: 0;
}

.pros-top-box .top {
    text-align: center;
}

.pros-top-box .top h2{
    margin-bottom: 52px;
}

.pros-top-box{
    margin-top: 165px;
}
.pros-top-box {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

.pros-desc{
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 43px;
    letter-spacing: 0px;
    color: #22284d;
}

#integrate{
    padding-top: 2em;
}

#integrate .banner-desc {
    font-family: Poppins-Regular;
    font-weight: normal;
    font-stretch: normal;
    font-size: 20px;
    line-height: 41px;
    letter-spacing: 0px;
    color: #000000;
    margin-top: 43px;
}

#integrate .integration-banner {
    width: 459px;
    height: 296px;
    /*margin: 0 auto;*/
    background: url(../images/ig-card1.png) no-repeat center;
    background-size: cover;
    border-radius: 30px;
}

#integrateDetail {
    margin-top: 165px;
}

#integrateDetail h2 {
    text-align: center;
}

#integrateDetail .des-box{
    margin-top: 51px;
}

#integrateDetail .index-item,
#method .index-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: left;
    margin-bottom: 29px;
}

#method .index-item {
    margin-bottom: 50px;
    /*margin-top: 80px;*/
    align-items: start;
}


#integrateDetail .index-item:nth-child(2) {
    flex-direction: row-reverse;
    margin-left: 0;
}

#integrateDetail .index-item-des,
#method .index-item-des{
   width: 600px;
   margin-left: 47px;
}

#integrateDetail .index-item:nth-child(2) .index-item-des {
    margin-left: 0;
    margin-right: 47px;
}

#integrateDetail .index-item .title,
#method .index-item .title{
    font-size: 24px;
    letter-spacing: 0px;
    color: #000d3b;
    margin-bottom: 23px;
}

#integrateDetail .index-item .detail,
#method .index-item .detail{
    font-size: 20px;
    line-height: 41px;
    letter-spacing: 0px;
    color: #000000;
}

#method .index-item .title{
    margin-top: 0;
}

#Costumize,
#method {
    /*margin-top: 20px;*/
    /*text-align: center;*/
}

#Costumize .index-item{
    width: 410px;
}

#Costumize .index-item .title{
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 30px;
}

#Costumize .index-item .detail{
    font-size: 20px;
    line-height: 41px;
    letter-spacing: 0px;
    color: #000000;
}

#Costumize .index-item .icon{
    margin: 0 auto;
}

#Costumize #cardItem {
    width: 280px;
}

#Costumize .desc {
    max-width: 640px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 20px;
}

#Costumize .costumize-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

#method .des-box{
    margin-top: 94px;
}

@media screen and (max-width:991px) {
    .pros-top-box{
        margin-top: 65px;
    }
    .pros-desc{
        font-size: 15px;
        line-height: 22px;
    }
    .pros-top-box .top h2{
        margin-bottom: 23px;
    }
    .index-item .icon img{
        height: 100px;
    }
    #integrate{
        padding-top: 9em;
        margin: 0 auto;
    }
    #integrate h2{
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1px;
        margin: 0 auto;
    }

    #integrateDetail{
        margin-top: 65px;
    }

    #integrateDetail h2,
    #Costumize h2,
    #method h2 {
        font-size: 29px;
        line-height: 29px;
    }

    #integrateDetail .index-item,
    #method .index-item {
        margin-bottom: 29px;
        align-items: center;
        /*align-items: flex-start;*/
    }

    #integrateDetail .des-box{
        margin-top: 39px;
    }

    #integrateDetail .index-item .title,
    #method .index-item .title{
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0px;
        margin-bottom: 15px;
    }

    #integrateDetail .index-item .title{
        margin-top: 0;
    }

    #method .index-item .title {
        margin-top: 0;
    }

    #integrateDetail .index-item .detail,
    #method .index-item .detail{
        font-size: 13px;
        line-height: 21px;
    }

    #integrateDetail .index-item-des,
    #method .index-item-des{
        /*width: 220px;*/
        width: 48%;
        margin-left: 20px;
    }

    #integrateDetail .index-item:nth-child(2) .index-item-des {
        margin-right: 20px;
    }

    #integrateDetail .index-item .icon,
    #Costumize .index-item .icon,
    #method .index-item .icon{
        width: 160px;
        height: 135px;
        border-radius: 25px;
    }

    #integrate .integrate-box{
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    #integrate .integrate-box .col-md-6:first-child{
        padding-right: 0;
    }
    #integrate .integration-banner {
        width: 180px;
        height: 164px;
    }

    #integrate .banner-desc {
        max-width: 217px;
        font-size: 13px;
        line-height: 24px;
        margin-top: 4px;
    }

    #Costumize{
        margin-top: 36px;
    }

    #Costumize .index-item .title{
        font-size: 14px;
        line-height: 18px;
        margin: 27px auto 16px;
    }

    #Costumize .index-item .detail{
        font-size: 13px;
        line-height: 21px;
    }

    #Costumize .index-item{
        width: 48%;
    }

    #Costumize .costumize-box,
    #method .des-box{
        margin-top: 38px;
    }



    #Costumize .costumize-box, #method .method-box {
        /*flex-direction: column;*/
        /*align-items: center;*/
    }

    #integrate .banner-info {
        /*margin-top: 27px;*/
    }

    /*  */
    #integrateDetail #cardItem {
        flex-direction: column;
        margin-top: 32px;
    }
    #integrateDetail #cardItem:nth-child(2) {
        flex-direction: column-reverse;
    }
    #integrateDetail #cardItem .content {
        padding: 0;
        text-align: center;
    }
    #integrateDetail #cardItem .content:nth-child(1) {
        text-align: center;
        padding: 0;
    }
    #integrateDetail #cardItem .content .detail,
    #Costumize .desc {
        width: auto;
        max-width: 327px;
        min-height: 35px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        font-feature-settings: 'salt' on, 'liga' off;
        color: rgba(0, 0, 0, 0.5);
    }
    #Costumize .costumize-box, #method .method-box {
        /*margin-top: 0;*/
    }
    #Costumize #cardItem {
        width: 326px;
    }
    #method {
        /*margin-bottom: 70px;*/
    }
    #method #cardItem .detail {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        font-feature-settings: 'salt' on, 'liga' off;
        color: rgba(0, 0, 0, 0.5);
    }
}