
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

body {
  /* background: #ffffff; */
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background: url('../images/bgs.png') no-repeat center center;
  background-size: 100% 100%;
  font-family: 'Montserrat';
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/public/fonts/Montserrat/Montserrat-Light-6.otf');
  font-weight: normal;
}

@media (min-width: 1200px){
  .pc-header-nav {
    width: 1200px !important;
  }
  /* .container {
    width: 1040px !important;
  } */
}

/*---------------------------------------
   TYPOGRAPHY
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
  line-height: inherit;
  letter-spacing: -1px;
}

h1 {
  color: #292929;
  font-size: 3em;
  margin-bottom: 30px;
}

h2 {
  /* color: #393939;
  font-size: 2em; */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #000000;
}

h3 {
  color: #000000;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0;
}

h4 {
  color: #696969;
  font-size: 18px;
  line-height: normal;
}

p {
  color: #757575;
  font-size: 14px;
  font-weight: normal;
  line-height: 25px;
}

strong {
  font-weight: 500;
}

li, ol, ul {
  list-style: none;
}

.i-ml-1{
  margin-left: 1px !important;
}


/*---------------------------------------
   GENERAL
-----------------------------------------*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #252525;
  font-weight: normal;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover, a:active, a:focus {
  color: #23A6F0;
  outline: none;
}

.section-title {
  margin-bottom: 60px;
}

.section-title h2 {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 0;
}

.section-title .line-bar {
  color: #d9d9d9;
  display: block;
  font-size: 5em;
  line-height: 0;
}

.section-btn {
  display: inline-block;
  background: #23A6F0;
  border: 0;
  border-radius: 100px;
  color: #ffffff;
  cursor: pointer;
  font-size: inherit;
  font-weight: normal;
  padding: 15px 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* section {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
} */


/*---------------------------------------
     PRE LOADER
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 3px;
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 1px solid #575757;
  border-top-color: #ffffff;
  animation: spinner .9s linear infinite;
}

@-webkit-@keyframes spinner {
  to {transform: rotate(360deg);}
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}


/*---------------------------------------
    MENU
-----------------------------------------*/

.mobile-top-right {
  display: none;
}

.custom-navbar {
  border: none;
  margin-bottom: 0;
  padding: 25px 0;
}

.custom-navbar .nav-logo {
  height: 50px;
  display: flex;
  align-items: center;
}

.custom-navbar .navbar-brand {
  /* font-size: 25px;
  font-weight: 500;
  letter-spacing: -1px; */
  width: 141px;
  height: 34px;
  background: url(../images/logo-b.png) no-repeat;
  background-size: 100% 100%;
}

.top-nav-collapse {
  background: #ffffff;
}

.custom-navbar .navbar-nav.navbar-nav-first {
  margin-left: 4em;
}

.custom-navbar .navbar-nav.navbar-right li a {
  padding-right: 12px;
  padding-left: 12px;
}

.custom-navbar .section-btn {
  padding: 15px;
  margin-left: 2em;
}

.custom-navbar .section-btn:hover {
  color: #fff;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.custom-navbar .section-btn a {
  padding: 0;
}

.custom-navbar .nav .section-btn a:hover {
  color: #ffffff;
}

.custom-navbar .nav li a {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  padding-right: 22px;
  padding-left: 22px;
}

.custom-navbar .nav li a:hover {
  background: transparent;
  color: #23A6F0;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active > a {
  background-color: transparent;
  color: #ce3232;
}

.custom-navbar .navbar-toggle {
  border: none;
  padding-top: 10px;
}

.custom-navbar .navbar-toggle {
  background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
  background: #252525;
  border-color: transparent;
}


.main-menu li.has-submenu a:after {
  content: '\f107';
  font-family: "FontAwesome";
  margin-left: 5px;
}

.main-menu li.has-submenu ul li a:after {
  display: none;
}

.main-menu li .sub-menu,
.navbar-right .sub-menu {
  position: absolute;
  width: 158px;
  padding-left: 0;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.navbar-right .sub-menu {
  width: 115px;
  padding: 10px 0;
}
#lang {
  display: block;
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 10px;
  margin-right: 10px;
}
/*#langChange {
  display: inline-block;
  border: 1px solid #c4c4c4;
  padding: 5px 12px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 5px;
}*/
#langLi .sub-menu li {
  display: block;
  padding: 5px 10px;
}
#langLi .sub-menu li:hover {
  cursor: pointer;
  color: #23A6F0;
}
#langLi .active {
  display: block;
}
.down-arrow {
  display :inline-block;
  position: relative;
  width: 20px;
  height: 15px;
}

.down-arrow::after {
  display: inline-block;
  content: " ";
  height: 9px;
  width: 9px;
  border-width: 0 2px 2px 0;
  border-color: #999999;
  border-style: solid;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  transform-origin: center;
  transition: transform .3s;
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -3px;
}
.down-arrow.active::after {
  transform-origin: center;
  transform: rotate(-135deg);
  transition: transform .3s;
}

.main-menu li:hover .sub-menu,
.navbar-right li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}

.main-menu li .sub-menu li,
.navbar-right .sub-menu li {
  display: block;
  line-height: 20px;
  margin-left: 0px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  /* border-bottom: 1px solid #121b2f; */
}

.main-menu li .sub-menu li:first-child,
.navbar-right li .sub-menu li:first-child {
  padding-top: 15px;
}

.main-menu li .sub-menu li:last-child,
.navbar-right li .sub-menu li:last-child {
  margin-bottom: 0px;
  border-bottom: none;
}

.main-menu li .sub-menu li a,
.navbar-right .sub-menu li a {
  font-size: 13px;
  font-weight: 600;
  padding: 0px 15px;
  letter-spacing: 0.5px;
  border: none;
  transition: all 0.5s;
}

.main-menu li .sub-menu li a:hover {
  color: #23A6F0;
  border: none;
}

#langSelect {
  margin-top: 12px;
  margin-right: 20px;
  width: 56px;
  height: 28px;
  padding-left: 8px;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  border: 1px solid #C4C4C4;
}

.navLogin {
  padding-left: 8px;
  border-left: 1px solid rgba(196, 196, 196, 0.6);
}

.contact-btn {
  border-radius: 5px;
  padding: 15px 25px !important;
  font-weight: 700;
  font-size: 14px;
}
.contact-btn a {
  padding: 0 !important;
  color: #fff;
}

@media(min-width:768px) {
  .custom-navbar {
    border-bottom: 0;
    background: 0 0;
  }

  .custom-navbar.top-nav-collapse {
    background: #ffffff;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
  }

  .top-nav-collapse .navbar-brand {
    color: #252525;
  }

  .top-nav-collapse .nav li a {
    color: #575757;
  }

  .top-nav-collapse .nav .section-btn a {
    color: #ffffff;
  }
}



/*---------------------------------------
    HOME
-----------------------------------------*/

#home {
  /* background: url('../images/bg.png') no-repeat center center; */
  background-size: cover;
  vertical-align: middle;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  /* min-height: 100vh; */
  /* height: 680px; */
  margin: 50px 0;
  position: relative;
  overflow: hidden;
  padding-top: 10em;
  text-align: left;
}

#home .map-box {
  display: none;
}

#home h1 {
  /* color: #ffffff; */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 80px;
}

#home h4 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: 000;
}

#home .container {
  position: relative;
  height: 460px;
  /* background: url(../images/map.png) no-repeat;  */
  background: url(../images/mapb.png) no-repeat;
  background-size: cover;
  background-position-y: 55%;
}

#home .container img {
  position: absolute;
  width: 29px;
  height: 29px;
}

#home .container .city {
  padding: 4px 12px;
  background: rgba(35, 166, 240, 0.4);
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

#home .turkey-gps {
  right: 425px;
  top: 113px;
}

#home .india-gps {
  right: 266px;
  top: 188px;
}

#home .vietnam-gps {
  right: 187px;
  bottom: 191px;
}

#home .indonesia-gps {
  right: 166px;
  bottom: 136px;
}

.home-info .section-btn {
  background: #23A6F0;
  border: 2px solid #f9f9f9;
  color: #f9f9f9;
  margin-left: 0;
  margin-top: 35px;
  font-size: 14px;
  font-weight: 700;
}

.home-info .section-btn:hover,
.home-info .section-btn:focus {
  background: #ce3232;
  border-color: transparent;
  color: #ffffff;
}

.home-info span {
  display: inline-block;
  vertical-align: middle;
  color: #f9f9f9;
  font-weight: 500;
  margin-left: 20px;
}

.home-info span small {
  display: block;
}

.home-bottom-line {
  display: none;
}



/*---------------------------------------
    ABOUT
-----------------------------------------*/

#about {
  height: 300px;
  text-align: left;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .container {
  display: flex;
  align-items: center;
}

.about-info p {
  /* margin-top: 60px; */
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.5);
}

.skill-thumb strong {
  display: inline-block;
  margin-bottom: 10px;
}

.skill-thumb .progress {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: none;
  height: 3px;
  margin-bottom: 25px;
}

.skill-thumb .progress-bar {
  background: #1f1f1f;
  box-shadow: none;
}

/*---------------------------------------
    WHY-USE
-----------------------------------------*/

#whyUse {
  min-height: 800px;
}

#whyUse h2,
#apis h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #000000;
  margin-top: 50px;
}

#whyUse .desc,
#apis .desc {
  max-width: 684px;
  margin: 0 auto 60px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #000000;
}

#whyUse .whyUse-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#cardItem {
  width: 240px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#cardItem .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 40px;
  color: #000000;
}

#cardItem .icon {
  width: 150px;
  height: 150px;
  background: rgba(35, 166, 240, 0.2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#cardItem .icon span {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

#cardItem .detail {
  font-size: 16px;
  line-height: 29px;
  min-height: 145px;
  color: rgba(0, 0, 0, 0.5);
}

#cardItem .icon-1 {
  width: 86px;
  height: 83px;
  background: url(../images/Watch.png) no-repeat;
}

#cardItem .icon-2 {
  /* width: 86px;
  height: 83px; */
  background: url(../images/Group.png) no-repeat;
}

#cardItem .icon-3 {
  background: url(../images/icon-3.png) no-repeat;
}
#cardItem .icon-4 {
  background: url(../images/icon-4.png) no-repeat;
}
#cardItem .icon-5 {
  background: url(../images/icon-5.png) no-repeat;
}
#cardItem .icon-6 {
  background: url(../images/icon-6.png) no-repeat;
}
#cardItem .icon-7 {
  background: url(../images/icon-7.png) no-repeat;
}
#cardItem .icon-8 {
  background: url(../images/icon-8.png) no-repeat;
}
#cardItem .icon-9 {
  background: url(../images/icon-9.png) no-repeat;
}
#cardItem .icon-10 {
  background: url(../images/icon-10.png) no-repeat;
}

/*---------------------------------------
    apis
-----------------------------------------*/

#apis {
  min-height: 800px;
}

#apis .apis-box {
  width: 100%;
  display: flex;
  justify-content: space-around; /*center;*/
}

/* logo line */
#logoLine {
  /* height: 104px; */
}

#logoLine .img-logos {
  height: 104px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: url(../images/logo-line.png) no-repeat center;
}

/*---------------------------------------
    disbursement
-----------------------------------------*/
#disbursement .dis-info {
  margin-top: 130px;
}

#disbursement h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #000000;
}

#disbursement .desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.5);
}

#disbursement .dis-second {
  margin-top: 120px;
  margin-bottom: 100px;
}

/*---------------------------------------
    WORK
-----------------------------------------*/

.work-info img {
  width: 100%;
  border-radius: 100%;
}

#work .work-thumb {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
}

.work-thumb .work-info {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.work-thumb .work-info:after {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  content: "";
  background: #ce3232;
  opacity: 0;
  transition: 0.5s;
}

.work-thumb .work-info:hover::after {
  opacity: 0.9;
}

.work-thumb .work-info h3,
.work-thumb .work-info small {
  transform: translateY(100%);
  opacity: 0;
  display: block;
  transition: 0.5s 0.2s;
  color: #ffffff;
  z-index: 2;
  position: relative;
}

.work-thumb .work-info small {
  color: #d9d9d9;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 3px;
}

.work-thumb:hover .work-info h3,
.work-thumb:hover .work-info small {
  transform: translateY(0px);
  opacity: 1;
}



/*---------------------------------------
    BLOG
-----------------------------------------*/

#blog {
  background: #f0f0f0;
}

#blog-header,
#blog-detail {
  text-align: left;
}

#blog-header {
  background: url('../images/blog-header-bg.jpg') no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 65vh;
  color: #ffffff;
  position: relative;
  padding-top: 12em;
}

#blog-header h2 {
  color: #ffffff;
}

.blog-thumb {
  background: #ffffff;
  -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-align: left;
  margin-bottom: 30px;
  height: 350px;
}

.media.blog-thumb .media-left {
  width: 45%;
}

.blog-thumb small {
  color: #ce3232;
  font-weight: 500;
  display: block;
}

.blog-thumb small .fa {
  margin-right: 5px;
}

.blog-thumb h4 {
  margin-top: 2px;
  margin-bottom: 0px;
}

#blog-detail h2 {
  padding: 25px 0 10px 0;
}

.blog-info {
  padding: 75px 25px;
}

.blog-info h3 {
  margin: 0;
  padding: 8px 0 6px 0;
  text-transform: capitalize;
}

.blog-info .section-btn {
  background: #f0f0f0;
  color: #393939;
  margin-top: 20px;
}

.blog-info .section-btn:hover {
  background: #00F260;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
}

.blog-thumb ul {
  margin: 32px 12px 22px 0px;
}

.blog-thumb ul li {
  list-style: square;
  font-weight: normal;
  padding: 4px 12px 4px 0px;
}

.blog-social-share {
  text-align: center;
  padding-top: 22px;
}

.blog-social-share .btn {
  border-radius: 100px;
  border: none;
  font-size: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 20px 6px;
  padding: 10px 16px;
}

.blog-social-share .btn-primary {
  background: #3b5998;
}

.blog-social-share .btn-success {
  background: #1da1f2;
}

.blog-social-share .btn-danger {
  background: #dd4b39;
}

.blog-social-share a .fa {
  padding-right: 4px;
}

.blog-ads {
  background: #f9f9f9;
  border-right: 4px solid #2b2b2b;
  padding: 42px;
  text-align: center;
  margin: 26px 0 26px 0;
}

.blog-ads h4 {
  font-size: 18px;
}



/*---------------------------------------
    CONTACTS
-----------------------------------------*/

#contact {
  /* height: 876px; */
  margin-top: 70px;
}

#contact .section-title h2 {
  color: #ffffff;
}

#contact .form-control {
  border: 0;
  border-radius: 5px;
  box-shadow: none;
  color: rgba(20,20,20,0.5);
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 15px;
  padding-left: 12px;
}

#contact input,
#contact select {
  height: 55px;
}
#byEmail, #byPhone {
  height: auto !important;
}

#contact select {
  color: rgba(20,20,20,0.5);
}

#contact input[type='submit'] {
  background: #23A6F0;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 500;
}

#btnSubmit {
  height: 55px;
  line-height: 43px;
  background: #23A6F0;
  border-radius: 10px !important;
  color: #ffffff !important;
  font-weight: 500;
  text-align: center;
  margin: 20px auto 0;
}

#contact-form {
  width: 610px;
  height: 806px;
  left: calc(50% - 610px/2 + 0.5px);
  top: 0px;
  padding: 40px 50px 45px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}

#contact-form h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  text-align: center;
  margin: 0 auto 20px;
}

#contact-form .checkbox-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #000000;
}


/*---------------------------------------
   FOOTER
-----------------------------------------*/


#m-footer {
  display: none;
}

footer {
  position: relative;
  padding-top: 80px;
  padding-bottom: 60px;
  color: #000000;
}

footer h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}

.footer-link {
  margin: 0;
  padding: 0;
}

.footer-link li {
  display: block;
  list-style: none;
  margin: 5px 10px 5px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

footer p,
footer span,
.footer-link li a {
  /* color: #d9d9d9; */
}

.copyright-text p,
.footer-bottom .phone-contact p {
  font-size: 14px;
}

.footer-info p {
  margin-right: 4em;
}

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.1);
  margin-top: 5em;
  padding-top: 3em;
}

.footer-bottom .phone-contact,
.footer-bottom .social-icon {
  display: inline-block;
  vertical-align: top;
}

.footer-bottom .phone-contact {
  margin-right: 40px;
}

.footer-bottom .phone-contact span {
  font-weight: 500;
  display: inline-block;
  margin-left: 10px;
}


/*---------------------------------------
   SOCIAL ICON
-----------------------------------------*/

.social-icon {
  position: relative;
  padding: 0;
  margin: 10px auto 0;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  /*border-radius: 100px;*/
  color: #23A6F0;
  font-size: 20px;
  text-decoration: none;
  position: relative;
  margin: 5px 10px;
  width: 20px;
  height: 20px;
}

.social-icon li a:hover {
  opacity: 0.6;
}

.social-tg-qr{
  position: absolute;
  right: 100px;
  bottom: 45px;
  /*opacity: 0;*/
  transition: all 0.5s;
}

.social-tg-qr img{
  width: 200px;
}

.social-d-none{
  display: none !important;
}

.social-icon .icon-fb {
  background: url(/images/icon-fb.png) no-repeat;
  background-size: 100% 100%;
}
.social-icon .icon-in {
  background: url(/images/icon-in.png) no-repeat;
  background-size: 100% 100%;
}
.social-icon .icon-tg {
  background: url(/images/icon-tg.png) no-repeat;
  background-size: 100% 100%;
}
.social-icon .icon-el{
  background: url(/images/icon-el.png) no-repeat;
  background-size: 100% 100%;
}

/* term & conditions */
#term {
  background-size: cover;
  vertical-align: middle;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  /* min-height: 100vh; */
  /* height: 680px; */
  margin: 95px 0 50px;
  position: relative;
  overflow: hidden;
  /* padding-top: 5em; */
  text-align: left;
}

#term h3 {
  margin: 50px auto;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  color: #191f25;
}

#term h4 {
  margin:0 0 20px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #191f25;
  font-size: 18px;
}

#term p {
  font-size:14px;
  color: #191f25;
}

#term .start {
  margin-bottom: 40px;
}

#term .titleb {
  font-weight: 600;
  margin-bottom: 18px;
  font-size: 18px;
}

/*---------------------------------------
    MODAL FORM
-----------------------------------------*/

@media (min-width: 992px) {
  .modal-dialog {
    width: 420px;
  }
}

.modal-open .modal {
  padding-left: 0 !important;
}

.modal-dialog .modal-content {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  border-radius: 2px;
  text-align: center;
  position: relative;
  padding: 2em;
}

.modal-header, .modal-footer {
  border-bottom: 0;
  padding: 0;
}

.modal-dialog .modal-body {
  padding: 0;
}

.modal-dialog .modal-body a {
  color: #d9d9d9;
}

.modal .close {
  color: #999;
  font-size: 40px;
  font-weight: 300;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 100;
  outline: none;
}

.modal-dialog .modal-title {
  margin-bottom: 20px;
}

.modal-dialog .modal-title h2 {
  color: #ffffff;
}

.modal-dialog .nav-tabs {
  display: inline-block;
}

.modal-dialog .nav-tabs > li > a {
  border: 0;
  color: #999999;
  margin-right: 0;
}

.modal-dialog .nav-tabs > li.active > a,
.modal-dialog .nav-tabs > li.active > a:hover,
.modal-dialog .nav-tabs > li.active > a:focus,
.modal-dialog .nav>li>a:focus,
.modal-dialog .nav>li>a:hover {
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ce3232;
}

.modal-dialog .tab-content {
  padding-top: 20px;
}

.modal-dialog form .form-control {
  border-radius: 5px;
  border: 1px solid #595959;
  background: transparent;
  box-shadow: none;
  margin: 15px 0 15px 0;
  height: 50px;
}

.modal-dialog form .form-control:hover,
.modal-dialog form .form-control:focus {
  border-color: #ffffff;
}

.modal-dialog form input[type="submit"] {
  background: #ce3232;
  border-color: transparent;
  border-radius: 100px;
  color: #ffffff;
  margin-top: 20px;

}

#mobileMenu {
  display: none;
}


/*---------------------------------------
   RESPONSIVE STYLES
-----------------------------------------*/

@media screen and (max-width: 1170px) {

  .custom-navbar .navbar-nav.navbar-nav-first {
    margin-left: inherit;
  }
}

@media screen and (max-width: 991px) {

  h3 {
    font-size: 1.2em;
  }

  p {
    font-size: 13px;
  }

  #home {
    text-align: center;
  }

  .home-info {
    margin-bottom: 3em;
  }

  .custom-navbar .nav li a {
    font-size: 13px;
    padding-right: 11px;
    padding-left: 11px;
  }

  .custom-navbar .section-btn {
    margin-left: 1em;
  }

  .blog-thumb {
    height: inherit;
  }

  .blog-info {
    padding: 45px 25px;
  }

  .media.blog-thumb .media-left {
    display: block;
    width: 100%;
    padding-right: 0;
    overflow: hidden;
  }

  .media.blog-thumb .media-left {
    height: 250px;
  }

  .media.blog-thumb .media-left img {
    position: relative;
    bottom: 10em;
  }

  #work .work-thumb,
  .footer-thumb {
    margin-top: 20px;
    margin-bottom: 30px;
  }

}

@media only screen and (min-width: 640px) and (max-width: 767px) {

  #blog-header {
    height: 100vh;
  }

  .media.blog-thumb .media-left {
    height: 550px;
  }

  .media.blog-thumb .media-left img {
    position: relative;
    bottom: 10em;
  }
}

@media screen and (max-width: 767px) {

  .custom-navbar {
    background: #ffffff;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
  }

  .custom-navbar .nav li a {
    line-height: normal;
    padding: 5px;
  }

  .custom-navbar .navbar-brand,
  .top-nav-collapse .navbar-brand {
    color: #252525;
    font-weight: 600;
  }

  .custom-navbar .nav li a,
  .top-nav-collapse .nav li a {
    color: #575757;
  }

  .custom-navbar .navbar-nav.navbar-right li {
    display: inline-block;
  }

  .custom-navbar .section-btn {
    display: block !important;
    width: 50%;
    margin: 10px auto 10px auto;
    padding: 10px;
  }

  .custom-navbar .section-btn a {
    color: #ffffff !important;
  }

  .home-info span {
    margin-top: 20px;
  }

  #about .about-info:first-child {
    margin-right: 0;
  }

  .about-info {
    margin: 40px 0 40px 0;
  }

  .google-map {
    margin-top: 50px;
  }

  footer {
    text-align: center;
  }

  .footer-info p,
  .footer-bottom .phone-contact {
    margin-right: 0;
  }

  #whyUse .whyUse-box {
    flex-direction: column;
    align-items: center;
  }

  #cardItem {
    width: 100%;
    margin-bottom: 25px;
  }

  #home h1 {
    font-size: 28px;
  }

  #about .container {
    display: block;
  }

  #contact-form {
    width: 100%;
    padding: 20px;
  }

  /* mobile menu */

  #mobileMenu {
    display: block;
  }
  .menu-product {
    padding: 15px 0;
    display: block;
    color: #000;
    position: relative;
  }
  .frame_mainBody_Open {
    width: 100vw;
    overflow: hidden;
  }
  .frame_mainBody_Open .frame_offCanvas_mask {
    display: block;
  }
  .frame_offCanvas_mask {
    z-index: 9999;
    background: #000;
    opacity: .4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* position: absolute; */
    position: fixed;
    display: none;
  }
  .frame_mainBody_Open, .frame_offCanvas {
    position: absolute;
    bottom: 0;
    top: 0;
  }
  .frame_mainBody_Open .frame_offCanvas {
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    -o-transition: transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
    width: calc(100% - 40px);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .frame_offCanvas {
    overflow-y: scroll;
    width: calc(100% - 40px);
    /* position: absolute; */
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #F2F2F3;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    -o-transition: transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
    z-index: 99999;
  }
  .frame_offCanvas_close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 18px 20px;
  }
  .frame_offCanvas_multiNav_wrap {
    margin: 45px 28px 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    color: #000;
  }
  .frame_offCanvas_multiNav_item_link {
    padding: 15px 0;
    display: block;
    color: #000;
    position: relative;
  }
  .frame_offCanvas_multiNav_item:after {
    width: 300%;
    height: 300%;
    border-radius: 0;
    -webkit-transform: scale(0.3333);
    -ms-transform: scale(0.3333);
    transform: scale(0.3333);
  }
  .frame_offCanvas_multiNav_item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    border-radius: 0;
    border-style: solid;
    border-color: #D8D8D8;
    border-width: 0 0 1px 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
  }
  .frame_offCanvas_multiNav_sub {
    position: relative;
    border: 0;
  }
  .frame_offCanvas_multiNav_sub {
    padding: 5px 0;
    border-style: solid;
    border-color: #D8D8D8;
    border-width: 1px 0 0 0;
    border-radius: 0;
  }
  .frame_offCanvas_multiNav_sub_item {
    font-size: 16px;
    line-height: 40px;
    margin-left: 20px;
  }
  .frame_offCanvas_multiNav_item {
    border-style: solid;
    border-color: #D8D8D8;
    border-width: 0 0 1px 0;
    border-radius: 0;
    position: relative;
    border: 0;
  }
  /* change country */
  #mobileMenu #langChange {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0 0;
    padding: 10px;
  }
  #mobileMenu #langLi {
    width: 100%;
    text-align: center;
    margin: 10px auto 0;
  }
  #mobileMenu .sub-menu {
    padding-left: 0;
    text-align: center;
    background: #fff;
    line-height: 30px;
    display: none;
  }
  #mobileMenu .m-show-country {
    display: block;
  }
  #mobileMenu #langLi .sub-menu li {
    padding: 8px;
    padding-left: 12px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #mobileMenu #langLi .sub-menu .active {
    background-color: rgba(51,122,183,0.2);
  }
  #mobileMenu #langLi .sub-menu .active a {
    color: #337ab7;
  }
  #mobileMenu #langLi .sub-menu .fa {
    display: none;
  }
  #mobileMenu #langLi .sub-menu .active .fa {
    display: block;
  }
  /* change country end */
  /* change country */
  #header .mobile-top-right {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  #header #langChange {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* margin: 10px 0 0; */
    margin: 0;
    padding: 10px;
  }
  #header #langLiM {
    /* width: 100%;
    text-align: center;
    margin: 10px auto 0; */
    position: absolute;
    top: 15px;
    right: 70px;
  }
  #header .sub-menu {
    padding-left: 0;
    text-align: center;
    background: #fff;
    line-height: 30px;
    display: none;
  }
  #langLiM .sub-menu .active {
    display: block !important;
  }
  #header .m-show-country {
    display: block;
  }
  #header #langLiM .sub-menu li {
    padding: 8px;
    padding-left: 12px;
    text-align: left;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  #header #langLiM .sub-menu .active {
    background-color: rgba(51,122,183,0.2);
  }
  #header #langLiM .sub-menu .active a {
    color: #337ab7;
  }
  #header #langLiM .sub-menu .fa {
    display: none;
  }
  #header #langLiM .sub-menu .active .fa {
    display: block;
  }
}

@media screen and (max-width: 639px) {

  h1 {
    font-size: 2em;
  }

  .media.blog-thumb .media-left {
    height: 320px;
  }

  .media.blog-thumb .media-left img {
    position: relative;
    bottom: 6em;
  }

}

@media screen and (max-width:480px) {
  /* menu */
  .custom-navbar.top-nav-collapse {
    background: #fff;
  }
  .navbar-header:before {
    display: none;
  }
  .navbar-header:after {
    display: none;
  }
  .custom-navbar {
    background: none;
    box-shadow: none;
  }
  .custom-navbar .section-btn {
    width: 30%;
    padding: 10px 20px !important;
  }
  .bg-white {
    background: #ffffff;
  }
  .custom-navbar .nav-logo {
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .custom-navbar .navbar-brand {
    margin-left: 24px;
    background: url(../images/logo-s.png) no-repeat;
    background-size: 100%;
  }
  .custom-navbar .navbar-nav.navbar-nav-first {
    text-align: center;
  }
  .custom-navbar .navbar-right {
    text-align: center;
  }
  .main-menu li .sub-menu {
    position: static;
    visibility: visible;
    opacity: 1;
    margin: 0 auto;
    display: inline-block;
    border: 1px solid #eee;
    display: none;
  }
  .main-menu li .showList {
    display: block;
  }
  .main-menu li .sub-menu li {
    border-bottom: 1px solid #eee;
  }
  /* home */
  #home {
    padding-top: 5em;
    margin-bottom: 0;
  }
  #home .container {
    background: none;
    height: auto;
  }
  #home h1 {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
  }
  #home h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
  }
  #home .map-box {
    display: block;
  }
  #home .home-map {
    width: 100%;
    height: 200px;
    background: url(../images/maps.png) no-repeat;
    background-size: 100%;
  }
  #home .container img {
    display: none;
  }
  .home-info .section-btn {
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 20px;
    margin-top: 5px;
  }
  .home-bottom-line {
    display: block;
  }
  /* home end */

  /* about start */
  #about {
    height: auto;
    margin-top: 30px;
  }
  #about .about-image img {
    display: block;
    width: 123px;
    height: 29px;
    margin: 0 auto;
  }
  #about .about-info {
    margin: 20px 0;
  }
  #about .about-info p {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: rgba(0, 0, 0, 0.7);
  }
  /* about end */

  #apis .apis-box {
    flex-direction: column;
  }

  /* card item start */
  #cardItem {
    margin-bottom: 0;
    margin-top: 40px;
  }
  #cardItem .title {
    margin-top: 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #000000;
  }
  #cardItem .detail {
    min-height: 66px;
    width: 261px;
    font-size: 14px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.7);
  }
  #cardItem .icon {
    width: 80px;
    height: 80px;
    border-radius: 5px;
  }
  #cardItem .icon span {
    width: 100%;
    height: 100%;
  }
  /* card item end */

  /* contact start */
  #contact {
    margin-top: 0px;
  }
  .contact-above {
    margin-bottom: 60px;
  }
  #contact-form {
    height: auto;
    padding: 10px;
  }
  #contact #btnSubmit {
    /* width: 84px; */
    height: 30px;
    margin: 20px auto 0;
    line-height: 26px;
    padding: 0;
    font-size: 12px;
    border-radius: 5px !important;
  }
  #contact-form .checkbox-desc {
    font-size: 12px;
  }
  #contact-form .checkbox-tips {
    margin-bottom: 20px !important;
    font-size: 12px;
  }
  #contact input, #contact select {
    height: 35px;
  }
  #byEmail, #byPhone {
    display: inline-block;
    width: 18px;
    height: 18px !important;
  }
  .verify-msg {
    font-size: 12px;
  }
  /* contact end */

  #whyUse {
    padding-bottom: 20px;
  }

  #whyUse h2, #apis h2 {
    font-size: 18px;
    line-height: 18px;
    margin-top: 10px;
  }

  #whyUse .desc, #apis .desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    width: 190px;
    margin: 0 auto 20px;
  }

  #apis #cardItem .detail {
    width: 261px;
  }

  #logoLine .img-logos {
    height: 30px;
    background-size: 80%;
  }

  /* disbursement */
  #disbursement .dis-first,
  #disbursement .dis-second {
    display: flex;
    align-items: center;
    margin: 30px auto;
    text-align: center;
  }
  #disbursement h2 {
    font-size: 16px;
    line-height: 40px;
  }
  #disbursement .desc {
    font-size: 14px;
    line-height: 14px;
  }
  #disbursement .dis-info {
    margin-top: 20px;
  }
  #disbursement .dis-first {
    flex-direction: column-reverse;
  }
  #disbursement .dis-first .about-image {
    width: 158px;
    height: 127px;
  }
  #disbursement .dis-second {
    margin:  20px auto;
    flex-direction: column;
  }
  #disbursement .dis-second .about-image {
    width: 133px;
    height: 110px;
  }

  .integrate {
    padding-top: 20px;
  }

  /* apis */
  #apis {
    min-height: auto;
    margin: 30px auto;
  }
  /* z_others */
  #cardItem .icon-8 {
    width: 40px !important;
    height: 25px !important;
  }

  footer {
    padding: 20px auto !important;
  }

  /* mobile footer */
  #footer {
    display: none;
  }
  #m-footer {
    display: block;
    width: 100%;
    margin-top: 50px;
    padding: 0 24px;
    text-align: left;
    font-size: 12px;
    color: #000;
  }

  .m-footer-content{
    text-align: center;
  }
  .m-footer-top {
    margin-bottom: 12px;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
  }
  .m-footer-top span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 9px;
  }
  .m-footer-img img {
    width: 99px;
  }
  .mobile-copyright {
    margin: 19px auto 10px;
    text-align: center;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
  }
  .contact-addr {
    margin-top: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #000;
  }
  .addr-detail {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    max-width: 191px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #000;
  }
  .m-social-icon {
    padding: 0;
    margin: 0;
  }
  .m-social-icon li {
    display: inline-block;
    margin-right: 6px;
  }
  .m-social-icon li a {
    font-size: 22px;
    color: #23A6F0;
    width: 20px;
    height: 20px;
    margin: 5px 10px;
  }

  .m-social-icon .icon-fb {
    background: url(/images/icon-fb.png) no-repeat;
    background-size: 100% 100%;
  }
  .m-social-icon .icon-in {
    background: url(/images/icon-in.png) no-repeat;
    background-size: 100% 100%;
  }
  .m-social-icon .icon-tg {
    background: url(/images/icon-tg.png) no-repeat;
    background-size: 100% 100%;
  }
  .m-social-icon .icon-el{
    background: url(/images/icon-el.png) no-repeat;
    background-size: 100% 100%;
  }
}
