.pl-0 {
  padding-left: 0;
}
.pr-0 {
  padding-right: 0;
}
@media (min-width: 1280px) {
    .container {
        width: 1280px !important;
    }
}
#pg-top {
    height: 704px;
    background: linear-gradient(181.92deg, #DCE9FF 1.5%, #F3F8FF 98.26%);
    padding: 80px 0 0 0;
    overflow: hidden;
    position: relative;
}
#pg-top .top-container {
    height: 100%;
    margin-left: calc(50% - 640px);
}

#pg-top .payment-title {
    margin-top: 86px;
    margin-bottom: 24px;
    font-family: Rubik;
    font-weight: 600;
    font-size: 55px;
    line-height: 1.2;
    text-transform: uppercase;
}

#pg-top .payment-title .highlight {
  color: #00B3FF;
}

#pg-top .payment-description {
  color: #666;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 32px;
}

#pg-top .enquire-btn {
  background: #1A1A1A;
  color: #fff;
  padding: 0 32px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  transition: all 0.3s;
  height: 48px;
  line-height: 48px;
  border-radius: 40px;
}

#pg-top .enquire-btn:hover {
  background: #333;
  color: #fff;
}

#pg-top .content-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  height: 100%;
}

#pg-top .content-left {
  width: 594px;
}

#pg-top .globe-section {
  flex: 1;
  position: relative;
  margin-top: 0;
  background: url(../images/payin/payin_head_bg.png) no-repeat center;
  background-size: 100% 100%;
  height: 100%;
}

#pg-top .globe-img {
  width: 334px;
  height: 334px;
  margin-top: 85px;
  margin-left: 228px;
  display: block;
}

#pg-top .payment-method {
  height: 60px;
  position: absolute;
  padding: 12px 24px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(90deg, #E5F3FF 0%, #FEFFFF 100%);
  box-shadow: 8px 12px 30px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 1) inset;
}

#pg-top .payment-method img {
  width: 36px;
  height: 36px;
}

#pg-top .payment-method span {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
  font-family: Rubik;
  font-weight: 400;
  line-height: 24px;
}

/* 支付方式定位 */
#pg-top .cash-payment {
  top: 7%;
  right: 24%;
}

#pg-top .atm-offline {
  top: 15%;
  left: 13%;
}

#pg-top .card-payment {
  top: 45%;
  left: 0%;
}

#pg-top .qr-payment {
  top: 29%;
  right: 6%;
}

#pg-top .e-wallet {
  bottom: 31%;
  right: 19%;
}

#pg-top .local-bank {
  bottom: 19%;
  left: 26%;
}

#pg-connect {
    height: 767px;
    background: none !important;
    background-image: radial-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px) !important;
    background-size: 20px 20px !important;
}

.connect-title {
    font-family: Rubik;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
}

#pg-connect .connect-title h2 {
    margin-top: 120px;
}

#pg-connect .connect-img {
    height: 440px;
    background: url(../images/payin/payin_second.png) no-repeat center;
    background-size: 106% 100%;
    margin-top: 49px;
}

#pg-connect .connect-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pg-apms {
    height: 700px;
    background: url(../images/payin/image-paiyin.jpg) no-repeat center;
    background-size: 100% 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pg-apms .container {
    max-width: 816px;
}

#pg-apms .apms-title h2 {
    margin-bottom: 40px;
    font-family: Rubik;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #fff;
}

#pg-apms .line {
    width: 60px;
    height: 2px;
    background: #fff;
    margin: 0 auto;
    margin-top: 20px;
}
#pg-apms .apms-description {
    font-family: Rubik;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.65);

}

.row-card {
  height: 714px;
  display: flex;
  align-items: center;
}

.row-card .box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
}

.row-card .platform-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 574px;
  text-align: left;
}

.row-card .platform-title h2 {
  font-family: Rubik;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: rgba(0, 0, 0, 0.9);
}

.row-card .platform-title p {
  font-family: Rubik;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.65);
}

.row-card .platform-img {
  max-width: 574px;
  height: 554px;
}

.row-card .platform-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#pg-transfer {
  background: rgba(239, 245, 255, 1);
}


@media (max-width: 992px) {
  .content-wrapper {
    flex-direction: column;
    text-align: center;
  }
  
  .globe-section {
    margin-top: 60px;
  }

  .row-card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #pg-top {
    height: auto;
  }

  #pg-top .top-container {
    margin-left: 0;
  }

  #pg-top .content-wrapper {
    gap: 18px;
  }

  #pg-top .content-left {
    width: 100%;
    padding: 0 20px;
    text-align: left;
    margin-top: 20px;
  }

  #pg-top .payment-title {
    width: 362px;
    font-family: Rubik;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 8px;
  }

  #pg-top .globe-section {
    height: 339px;
    flex: none;
    background: url(../images/payin/payin_head_bg.png) no-repeat left;
    background-size: 113% auto;
  }
  
  #pg-top .payment-description {
    font-size: 16px;
    text-align: left;
  }
  
  #pg-top .qr-payment {
    right: 0;
  }

  #pg-top .globe-img {
    width: 183px;
    height: 183px;
    margin-left: calc(50% - 91.5px);
    margin-top: 40px;
  }
  
  #pg-top .payment-method {
    padding: 6px 8px;
    height: 33px;
    border-radius: 8.8px;
  }
  
  #pg-top .payment-method img {
    width: 20px;
    height: 20px;
  }
  
  #pg-top .payment-method span {
    font-size: 9px;
  }
  
  #pg-connect {
    height: auto;
    margin-bottom: 50px;
  }

  #pg-connect .connect-title h2 {
    font-family: Rubik;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    padding: 0 20px;
    margin-top: 78px;
    margin-bottom: 25px;
  }

  #pg-connect .connect-img {
    /* height: auto;
    background: url(../images/payin/payin_second_m.png) no-repeat center;
    background-size: cover; */        
    width: calc(100% - 40px);
    margin: 0 20px;
    position: relative;
    padding-bottom: 211%; /* 这里设置宽高比为16:9，您可以根据实际图片比例调整 */
    height: 0;
    background: url(../images/payin/payin_second_m.png) no-repeat center;
    background-size: 100% auto;
  }

  #pg-apms {
    height: 542px;
    background-size: cover;
    padding: 0 20px;
  }

  #pg-apms .apms-title h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: Rubik;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
  }

  #pg-apms .apms-description {
    margin-top: 20px;
    padding: 0px 6px;
    font-family: Rubik;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 0.65);
  }

  .row-card {
    height: auto;
    padding: 52px 20px;
  }

  .row-card .box-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }

  .row-card .platform-title h2 {
    font-size: 32px;
    line-height: 100%;
  }

  .row-card .platform-title p {
    font-size: 17px;
    line-height: 24px;
    margin-top: 16px;
  }

  .row-card .platform-img {
    width: 100%;
    height: auto;
  }

  #pg-transfer .box-container {
    flex-direction: column-reverse;
  }

}
