<footer id="footer" data-stellar-background-ratio="0.5">
    <div class="container">
         <div class="row">

              <div class="col-md-3 col-sm-12">
                   <div class="footer-thumb footer-info"> 
                        <h3>PAYOK</h3>
                        <ul class="social-icon" id="footerSocial">
                             <li><a href="https://facebook.com/PAYOKofficial" class="fa icon-fb i-ml-1" attr="facebook icon" target="_blank"></a></li>
                            <!-- <li><a href="#" class="fa fa-instagram"></a></li>
                             <li><a href="#" class="fa fa-twitter"></a></li>-->
                             <li id="faTG">
                                  <a href="https://t.me/PAYOK_Payment_Solutions/" class="fa icon-tg" target="_blank"></a> <!--fa-telegram-->
                                  <div class="social-tg-qr social-d-none">
                                       <img src="/images/scan-qr.png">
                                  </div>
                             </li>

                             <li><a href="https://www.linkedin.com/company/payok-official/" class="fa icon-in" target="_blank"></a></li>
                             <li><a href="https://twitter.com/PAYOKPayment/" class="fa icon-tw" target="_blank"></a></li>
                             <li><a href="mailto:enquire@payok.com" class="fa icon-el"></a></li>
                        </ul>
                        <p>enquire@payok.com</p>
                   </div>
              </div>

              <div class="col-md-3 col-md-3-xs col-sm-4">
                   <div class="footer-thumb"> 
                        <h3  data-locale="product">Product</h3>
                        <ul class="footer-link">
                             <li><a href="payment-gateway.html"  data-locale="paygate">Payment Gateway</a></li>
                             <li><a href="disbursement.html" data-locale="disbur">Disbursement</a></li>
                        </ul>
                   </div>
              </div>

              <div class="col-md-3 col-md-3-xs col-sm-4">
                   <div class="footer-thumb"> 
                        <h3 data-locale="inte">Integration</h3>
                        <ul class="footer-link">
                             <li><a href="integration.html" data-locale="IntegrationSolution">Integration Solution</a></li>
                             <!-- <li><a href="#">API Docs</a></li> -->
                        </ul>
                   </div>
              </div>

              <div class="col-md-3 col-md-3-mx col-sm-4">
                   <div class="footer-thumb"> 
                        <h3 data-locale="companyInfo">Company</h3>
                        <ul class="footer-link">
                             <li><a href="about.html" data-locale="aboutus">About Us</a></li>
                             <li><a href="term-privacy.html" data-locale="DataPrivacy">Data Privacy</a></li>
                             <li><a href="term-conditions.html" data-locale="termsCondition">Terms & Conditions</a></li>
                             <li><a href="term-policy.html">MSB KYC AML</a></li>
                             <li><a href="index.html#contact" data-locale="customerSupport">Customer Support</a></li>
                        </ul>
                   </div>
              </div>                    

              <div class="col-md-12 col-sm-12">
                   <div class="footer-bottom">
                        <div class="col-md-12 col-sm-12">
                             <div class="copyright-text"> 
                                  <p class="text-center">PAYOK brand is authorized and regulated in British Columbia (Canada) with MSB license number M23526166. <br>The office is located at Metro Tower 2, 4720 Kingsway Suite 2600, Burnaby BC V5H 4N2</p>
                                  <p class="text-center" data-locale="copyright">Copyright © All rights Reserved. PAYOK.</p>
                             </div>
                        </div>
                   </div>
              </div>
              
         </div>
    </div>
</footer>
