<footer id="footerNew">
    <div class="container">
         <div class="row">

              <div class="col-md-3 col-sm-12">
                   <div class="footer-thumb footer-info"> 
                        
                        <!-- logo img -->
                        <img src="/images/logo.png" alt="PAYOK" class="logo-img">
                        <p class="location-text" data-locale="homeN22">PAYOK brand is authorized and regulated in British Columbia (Canada) with MSB license number M23526166. The office is located at Metro Tower 2, 4720 Kingsway Suite 2600, Burnaby BC V5H 4N2</p>
                        <ul class="social-icon" id="footerSocial">
                              <li><a href="https://twitter.com/PAYOKPayment/" class="fa icon-tw" target="_blank"></a></li>
                              <li><a href="https://www.linkedin.com/company/payok-official/" class="fa icon-in" target="_blank"></a></li>
                             <li><a href="https://facebook.com/PAYOKofficial" class="fa icon-fb i-ml-1" attr="facebook icon" target="_blank"></a></li>
                            <!-- <li><a href="#" class="fa fa-instagram"></a></li>
                             <li><a href="#" class="fa fa-twitter"></a></li>-->
                             <li id="faTG">
                                  <a href="https://t.me/payokpayments" class="fa icon-tg" target="_blank"></a> <!--fa-telegram-->
                                  <div class="social-tg-qr social-d-none">
                                       <img src="/images/scan-qr.png">
                                  </div>
                             </li>
                             <li><a href="https://www.instagram.com/payok.payments/" class="fa icon-ig" target="_blank"></a></li>

                             <li><a href="mailto:enquire@payok.com" class="fa icon-el"></a></li>
                        </ul>
                   </div>
              </div>

              <div class="col-md-3 col-sm-12">
              </div>

              <div class="col-md-3 col-sm-6 col-xs-6 text-left">
                   <div class="footer-thumb"> 
                        <h3 data-locale="solution">Solution</h3>
                        <ul class="footer-link">
                            <li><a href="payin.html" data-locale="payin">Pay in</a></li>
                            <li><a href="payout.html" data-locale="payout">Pay out</a></li>
                             <li><a href="integration.html" data-locale="inte">Integration</a></li>
                             <li><a href="security.html">Security</a></li>
                             <!-- <li><a href="#">API Docs</a></li> -->
                        </ul>
                   </div>
              </div>

              <div class="col-md-3 col-sm-6 col-xs-6 text-left">
                   <div class="footer-thumb"> 
                        <h3 data-locale="homeN24">Company</h3>
                        <ul class="footer-link">
                             <li><a href="about.html" data-locale="about">About</a></li>
                             <li><a href="term-privacy.html" data-locale="DataPrivacy">Data Privacy</a></li>
                             <li><a href="term-conditions.html" data-locale="termsCondition">Terms & Conditions</a></li>
                             <li><a href="term-policy.html" data-locale="kycamlpolicy">KYC & AML POLICY</a></li>
                             <li><a href="blog.html" data-locale="blog">Blog</a></li>
                             <!-- <li><a href="index.html#contact" data-locale="customerSupport">Customer Support</a></li> -->
                        </ul>
                   </div>
              </div>    
              
              <!-- <div class="col-md-12 col-sm-12">
                   <div class="footer-bottom">
                        <div class="col-md-12 col-sm-12">
                             <div class="copyright-text"> 
                                  <p class="text-left" data-locale="copyright">Copyright © All rights Reserved. PAYOK.</p>
                             </div>
                        </div>
                   </div>
              </div> -->
              
         </div>
         <!-- <div class="col-md-12 col-sm-12"> -->
          <div class="footer-bottom">
               <!-- <div class="col-md-12 col-sm-12"> -->
                    <div class="copyright-text"> 
                         <p class="text-left" data-locale="copyright">Copyright © All rights Reserved. PAYOK.</p>
                    </div>
               <!-- </div> -->
          </div>
     <!-- </div> -->
    </div>
</footer>
