<!-- MENU -->
<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container pc-header-nav">
        <div class="navbar-header nav-logo">
            <div class="mobile-top-right">
                <button class="navbar-toggle"> <!-- data-toggle="collapse" data-target=".navbar-collapse" -->
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>

                <!-- change country -->
               <!-- <li id="langLiM" class="has-submenu m-country"><a class="smoothScroll m-country-text" id="langChange"><span class="langText">English</span>
                    <span class="down-arrow"></span>
                </a>
                    <ul class="sub-menu">
                        <li langval="en" class="active"><a href="javascript:;">English</a><a class="fa fa-check"></a></li>
                        <li langval="os"><a href="javascript:;">Türkçe </a><a class="fa fa-check"></a></li>
                        <li langval="id"><a href="javascript:;">Bahasa</a><a class="fa fa-check"></a></li>
                        <li langval="vn"><a href="javascript:;">Tiếng Việt</a><a class="fa fa-check"></a></li>
                        <li langval="in"><a href="javascript:;">हिन्दी</a><a class="fa fa-check"></a></li>
                    </ul>
                </li>-->
            </div>
            <!-- lOGO TEXT HERE -->
            <a href="index.html" class="navbar-brand"></a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-nav-first main-menu">
                <li id="pgIndex"><a href="index.html" class="smoothScroll" data-locale="home">Home</a><i></i></li>
                <li id="pgSolution" class="has-submenu">
                    <a class="smoothScroll"><span class="" data-locale="solution">Solution</span><span class="down-arrow"></span></a>
                   <ul id="pgSolutionMenu" class="sub-menu">
                       <li><a href="payin.html" data-locale="payin">Pay in</a></li>
                       <li><a href="payout.html" data-locale="payout">Pay out</a></li>
                       <li><a href="integration.html" data-locale="inte">Integration</a></li>
                       <li><a href="security.html">Security</a></li>
                   </ul>
               </li>
                <!-- <li id="pgPayment"><a href="payment-gateway.html" data-locale="paygate">Payment Gateway</a><i></i></li>
                <li id="pgDisbursement"><a href="disbursement.html" rel="sponsored" class="external" data-locale="disbur">Disbursement</a><i></i></li>
                <li id="pgIntegration"><a href="integration.html" class="smoothScroll" data-locale="inte">Integration</a><i></i></li> -->
                <li id="pgSupport"><a href="support.html" class="smoothScroll">Support</a><i></i></li>
                <li id="pgBlog"><a href="blog.html" class="smoothScroll" data-locale="blog">Blog</a><i></i></li>
                <li id="pgAbout"><a href="about.html" class="smoothScroll" data-locale="about">About</a><i></i></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li id="langLi" class="has-submenu">
                    <!--<span class="text-lang">EN</span>-->
                    <a class="smoothScroll text-lang"><span class="langText">EN</span><span class="down-arrow"></span></a>
                    <!--<a class="smoothScroll" id="langChange"><span class="langText">English</span><span class="down-arrow"></span></a>-->
                   <ul class="sub-menu">
                       <li langval="en"><a href="javascript:;">English</a></li>
                       <!-- <li class="tr-lang" langval="tr"><a href="javascript:;">Türkçe </a></li> -->
                       <li class="id-lang" langval="id"><a href="javascript:;">Bahasa</a></li>
                       <!-- <li class="vn-lang" langval="vn"><a href="javascript:;">Tiếng Việt</a></li> -->
                       <!-- <li class="bd-lang" langval="bd"><a href="javascript:;">বাংলা</a></li>
                       <li class="th-lang" langval="th"><a href="javascript:;">ไทย</a></li>
                       <li class="in-lang" langval="in"><a href="javascript:;">हिन्दी</a></li> -->
                      <!-- <li langval="in"><a href="javascript:;">IN</a></li>-->
                    <!--   <li langval="en"><a href="javascript:;">English</a></li>
                       <li langval="tr"><a href="javascript:;">Türkçe </a></li>
                       <li langval="id"><a href="javascript:;">Bahasa</a></li>
                       <li langval="vn"><a href="javascript:;">Tiếng Việt</a></li>
                       <li langval="in"><a href="javascript:;">हिन्दी</a></li>-->
                   </ul>
               </li>
               <a href="https://m.payok.com/payok-user-login.html" target="_blank" class="section-btn login-btn" data-locale="login">
                   Login
               </a>

               <a id="contactForm" href="javascript:void(0);" class="section-btn contact-btn contactForm" data-locale="ContactUs">
                   Contact Us
               </a>
                <!--<span class="text-lang">EN</span>-->
            </ul>
        </div>
    </div>
</section>
