<head>
    <link rel="stylesheet" href="css/_verifyicon.css">
    <link rel="stylesheet" href="css/verify.css">
</head>
<section id="bookMeet" class="fade-show-in" data-stellar-background-ratio="0.5">
    <!--<img src="images/meetlogo/bg-footer.png" alt="" id="test">-->
    <div class="box-close" id="closeMeet">
        <img src="images/meetlogo/close.png" alt="">
    </div>
    <div class="box-container">
        <div class="row container-row" style="display: flex; align-items: center;">
            <div class="col-md-10">
                <div class="row meet-row" style="display: flex; align-items: center; min-height: 120px;">
                    <div class="meet-content col-md-6" style="animation-duration: 15s">
                        <div class="box col-md-12">
                            <div class="mode1">
                                <img src="images/meetlogo/ifx25.png" alt="" class="img2">
                            </div>

                            <div class="mode2">
                                <div><span class="btn-booth">BOOTH 138</span></div>
                                <div><img src="images/meetlogo/date.png" class="icon-small"><span>14th - 16th January 2025</span></div>
                                <div class="mb-0"><img src="images/meetlogo/location.png" class="icon-small"><span>Dubai World Trade Centre, UAE</span></div>
                            </div>
                        </div>
                    </div>

                    <div class="meet-content col-md-6" style="animation-duration: 15s;border-left: 3px solid #f3f3f3;">
                        <div class="box col-md-12">
                            <div class="mode1">
                                <img src="images/meetlogo/ice25.png" alt="" class="img2">
                            </div>

                            <div class="mode2">
                                <div><span class="btn-booth">BOOTH 4E20</span></div>
                                <div><img src="images/meetlogo/date.png" class="icon-small"><span>20th - 22nd January 2025</span></div>
                                <div class="mb-0"><img src="images/meetlogo/location.png" class="icon-small"><span>Fira Barcelona Gran Via, Spain</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <div class="box box2 col-md-2 col-sm-12 flex-end">
                <div class="mode3">
                    <div><button class="btn-meet" id="btnBookMeet" data-locale="meet5">Book a Meeting</button></div>
                    <div><a href="https://docs.google.com/forms/d/e/1FAIpQLSebpHTVpg3cvTK-7hWOWkW01tcslNl4ZRQPSpuMEqQY3XIz-g/viewform?usp=sf_link" target="_blank">
                        <button class="btn-meet mb-0" id="btnOffGift" data-locale="meet6">Offline Welcome Gift</button>
                    </a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="meetModal" class="modal fade modal-mode" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content ">
            <div class="modal-header head-img border-0">
                <!-- Tab 切换按钮 -->
                <div class="modal-tabs">
                    <button class="tab-btn active" data-event="IFX" name="iFX Dubai 2025">iFX Dubai 2025</button>
                    <button class="tab-btn" data-event="ICE" name="ICE Barcelona 2025">ICE Barcelona 2025</button>
                </div>
            </div>

            <div id="meetModal1" class="modal-body">
                <div class="form-group ifx-info">
                    <div class="modal-title">We are attending iFX Dubai 2025</div>
                    <div class="mode-item"><img src="images/meetlogo/b-booth.png" class="icon-small"><span>Booth 138</span></div>
                    <div class="mode-item"><img src="images/meetlogo/b-date.png" class="icon-small"><span>14th-16th January 2025</span></div>
                    <div class="mode-item"><img src="images/meetlogo/b-location.png" class="icon-small"><span>2nd Za'abeel Rd - Trade Centre - Trade Centre 2 Dubai - United Arab Emirates</span></div>
                </div>

                <div class="form-group ice-info d-none">
                    <div class="modal-title">We are attending ICE Barcelona 2025</div>
                    <div class="mode-item"><img src="images/meetlogo/b-booth.png" class="icon-small"><span>Booth 4E20</span></div>
                    <div class="mode-item"><img src="images/meetlogo/b-date.png" class="icon-small"><span>20th-22nd January 2025</span></div>
                    <div class="mode-item"><img src="images/meetlogo/b-location.png" class="icon-small"><span>Av. Joan Carles I, 64, 08908 L'Hospitalet de Llobregat, Barcelona, Spain</span></div>
                </div>
                
                <div class="form-group">
                    <p data-locale="meet7">Date</p>
                    <div id="dateItem" class="date-item-box">
                        <!-- ifx -->
                        <div class="ifx-info">
                            <button class="btn-d-item active" data-value="14 JAN">14 JAN</button>
                            <button class="btn-d-item" data-value="15 JAN">15 JAN</button>
                            <button class="btn-d-item" data-value="16 JAN">16 JAN</button>
                        </div>
                        <!-- ice -->
                        <div class="ice-info d-none">
                            <button class="btn-d-item" data-value="20 JAN">20 JAN</button>
                            <button class="btn-d-item" data-value="21 JAN">21 JAN</button>
                            <button class="btn-d-item" data-value="22 JAN">22 JAN</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <p data-locale="meet8">Time</p>
                    <div id="timeItem" class="date-item-box ">
                        <button class="btn-d-item active" data-value="10:00am">10:00am</button>
                        <button class="btn-d-item" data-value="10:30am">10:30am</button>
                        <button class="btn-d-item" data-value="11:00am">11:00am</button>
                        <button class="btn-d-item" data-value="11:30am">11:30am</button>
                        <button class="btn-d-item" data-value="13:30pm">13:30pm</button>
                        <button class="btn-d-item" data-value="14:00pm">14:00pm</button>
                        <button class="btn-d-item" data-value="14:30pm">14:30pm</button>
                        <button class="btn-d-item" data-value="15:00pm">15:00pm</button>
                        <button class="btn-d-item" data-value="15:30pm">15:30pm</button>
                        <button class="btn-d-item" data-value="16:00pm">16:00pm</button>
                        <button class="btn-d-item" data-value="16:30pm">16:30pm</button>
                        <button class="btn-d-item" data-value="17:00pm">17:00pm</button>
                    </div>
                </div>
                <div class="modal1-footer">
                    <button type="button" class="btn btn-light col-md-3" data-dismiss="modal" data-locale="meet9">Close</button>
                    <button type="button" id="btnModalNext" class="btn btn-primary col-md-8 mr-4-px" data-locale="meet10">Next</button>
                </div>
            </div>

            <div id="meetModal2" class="modal-body d-none">
                <div id="send-form">
                    <div class="form-row">
                        <label for="" class="col-md-2" data-locale="meet11">*Name</label>
                        <div class="col-md-10 col-sm-12 px-0">
                            <input type="text" class="form-control require i18n-input" selectname="pleaseInput" selectattr="placeholder" placeholder="Full Name" id="modalName" name="cf-name" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <label for="" class="col-md-2" data-locale="meet12">*Email</label>
                        <div class="col-md-10 col-sm-12 px-0">
                            <input type="email" class="form-control require i18n-input" selectname="pleaseInput" selectattr="placeholder" placeholder="Your Email" id="modalEmail" name="cf-email" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <label for="" class="col-md-2" data-locale="meet13">*Phone</label>
                        <div class="col-md-10 col-sm-12 px-0">
                            <input type="tel" class="form-control require i18n-input" selectname="pleaseInput" selectattr="placeholder" placeholder="Your Phone" id="modalPhone" name="cf-number" required οninput="setCustomValidity('');">
                        </div>
                    </div>

                    <div class="form-row align-start">
                        <label for="" class="col-md-2" data-locale="meet14">*Message</label>
                        <div class="col-md-10 col-sm-12 px-0">
                            <textarea class="form-control require i18n-input" selectname="pleaseInput" selectattr="placeholder" rows="6" placeholder="Your requirements" id="modalMessage" name="cf-message" required></textarea>
                        </div>
                    </div>

                    <div class="form-group mb-0 flex-center">
                        <label class="col-md-2"></label>
                        <div class="col-md-10 col-sm-12 px-0 check-box">
                            <input id="modalByEmail" class="modalPrefer" type="checkbox" name="modalPrefer" value="1">
                            <label for="modalByEmail" class="checkbox-desc" data-locale="formp1">Prefer to be contacted by E-Mail</label>
                        </div>
                    </div>


                    <div class="form-group mb-0 flex-center">
                        <label class="col-md-2"></label>
                        <div class="col-md-10 col-sm-12 px-0 check-box">
                            <input id="modalByPhone" class="modalPrefer" type="checkbox" name="modalPrefer" value="2">
                            <label for="modalByPhone" class="checkbox-desc" data-locale="formp2">Prefer to be contacted by Phone Call / Whatsapp</label>
                        </div>
                    </div>

                    <div class="form-group mb-0">
                        <label class="col-md-2"></label>
                         <label for="" class="checkbox-tips" data-locale="formp3">** tick one or both option</label>
                    </div>

                    <div class="form-group m-panel">
                        <div class="col-md-2"></div>
                        <div class="w-83">
                            <label for="mpanel3" data-locale="verifyCode">Verification Code</label>
                            <div style="width: 100%">
                                <div id="mpanel3" style="padding:0;"></div>
                            </div>
                        </div>


                        <div class=""></div>
                    </div>
                </div>
                <div class="form-group">
                <div class="modal1-footer">
                    <label class="col-md-2"></label>
                    <div class="col-md-10 col-sm-12 px-0">
                        <button type="button" class="btn btn-light col-md-3" id="btnModalBack" data-locale="meet15">Back</button>
                        <button type="button" id="btnModalSubmit" class="btn btn-primary col-md-8" data-locale="submit">Submit</button>
                    </div>

                </div>
                </div>

            </div>
        </div>
    </div>
</div>