<!-- mobile menu -->
<div class="frame_offCanvas_mask js_offCanvas_mask"></div>
<div class="frame_offCanvas">
    <a href="javascript:;" class="frame_offCanvas_close js_offCanvas_close">
        <img src="../src/public/icon/close.svg" alt="">
    </a>
    <ul class="frame_offCanvas_multiNav_wrap">
        <li class="frame_offCanvas_multiNav_item" data-num="1">
            <a href="index.html" class="frame_offCanvas_multiNav_item_link" ontouchstart="" data-locale="home">Home</a>
        </li>

        <li class="frame_offCanvas_multiNav_item">
            <a href="payin.html" class="frame_offCanvas_multiNav_item_link" ontouchstart="">Pay in</a>
        </li>
        <li class="frame_offCanvas_multiNav_item">
            <a href="payout.html" class="frame_offCanvas_multiNav_item_link" ontouchstart="">Pay out</a>
        </li>
      <!--  <li class="frame_offCanvas_multiNav_item" data-num="3">
            <a href="javascript:;" class=" menu-product" data-locale="product">Product<i class="frame_offCanvas_multiNav_item_open"></i></a>
            <ul class="frame_offCanvas_multiNav_sub">

            </ul>
        </li>-->
        <li class="frame_offCanvas_multiNav_item" data-num="1">
            <a href="integration.html" class="frame_offCanvas_multiNav_item_link" ontouchstart="" data-locale="inte">Integration</a>
        </li>
        <!-- security.html -->
        <li class="frame_offCanvas_multiNav_item">
            <a href="security.html" class="frame_offCanvas_multiNav_item_link" ontouchstart="">Security</a>
        </li>
        <!-- support.html -->
        <li class="frame_offCanvas_multiNav_item">
            <a href="support.html" class="frame_offCanvas_multiNav_item_link" ontouchstart="">Support</a>
        </li>
        <!--<li class="frame_offCanvas_multiNav_item" data-num="1">
            <a href="https://m.payok.com/payok-user-login.html" class="frame_offCanvas_multiNav_item_link" ontouchstart="" data-locale="login">Login</a>
        </li>-->
        <li class="frame_offCanvas_multiNav_item" data-num="1">
            <a href="blog.html" class="frame_offCanvas_multiNav_item_link" ontouchstart="">Blog</a>
        </li>
        <li class="frame_offCanvas_multiNav_item" data-num="1">
            <a href="about.html" class="frame_offCanvas_multiNav_item_link" ontouchstart="" data-locale="about">About</a>
        </li>
        <li class="frame_offCanvas_multiNav_item" data-num="1">
            <a href="javascript:void(0)" class="frame_offCanvas_multiNav_item_link contactForm" ontouchstart="" data-locale="ContactUs">Contact Us</a>
        </li>
        <li class="frame_offCanvas_multiNav_item">
            <a href="term-privacy.html" class="frame_offCanvas_multiNav_item_link" ontouchstart="" data-locale="DataPrivacy">Data Privacy</a>
        </li>
        <li class="frame_offCanvas_multiNav_item">
            <a href="term-conditions.html" class="frame_offCanvas_multiNav_item_link" ontouchstart="" data-locale="termsCondition">Terms & Conditions</a>
        </li>
        <!--<li class="frame_offCanvas_multiNav_item">
            <a href="term-policy.html" class="frame_offCanvas_multiNav_item_link" ontouchstart="">MSB KYC AML</a>
        </li>-->
        <!-- change country -->
        <li id="langLi" class="has-submenu m-country"><a class="smoothScroll m-country-text" id="langChange"><span class="langText">EN</span>
            <span class="down-arrow"></span>
        </a>
            <ul class="sub-menu">
                <li class="en-lang" langval="en" class="active"><a href="javascript:;">English</a><a class="fa fa-check"></a></li>
                <li class="tr-lang" langval="tr"><a href="javascript:;">Türkçe</a><a class="fa fa-check"></a></li>
                <li class="id-lang" langval="id"><a href="javascript:;">Bahasa</a><a class="fa fa-check"></a></li>
                <li class="vn-lang" langval="vn"><a href="javascript:;">Tiếng Việt</a><a class="fa fa-check"></a></li>
                <li class="bd-lang" langval="bd"><a href="javascript:;">বাংলা</a><a class="fa fa-check"></a></li>
            </ul>
        </li>
        <!-- <li id="langLi" class="has-submenu m-country"><a class="smoothScroll m-country-text" id="langChange"><span class="langText">English</span>
            <span class="down-arrow"></span>
        </a>
            <ul class="sub-menu">
                <li langval="en" class="active"><a href="javascript:;">English</a><a class="fa fa-check"></a></li>
                <li langval="os"><a href="javascript:;">Türkçe </a><a class="fa fa-check"></a></li>
            </ul>
        </li>-->
    </ul>
</div>
