
<footer id="m-footer">


    <div class="m-footer-content">
    <div class="m-footer-top xs-hide">
            <span data-locale="ContactUs">Contact Us</span>
            <!--<img src="/images/logo-s.png" alt="">-->
    </div>

    <!-- <p class="contact-addr">PT Bangun Pemuda Jaya</p>
    <p class="addr-detail">JL. Sultan Iskandar Muda No 17 D kel. Kebayoran lama selatan kec. Lebayoran Baru Jaksel 12240</p> -->
        <div>
            <ul class="m-social-icon">
                <li><a href="https://facebook.com/PAYOKofficial" class="fa icon-fb i-ml-1" attr="facebook icon"
                       target="_blank"></a></li>
                <li id="faTG">
                    <a href="https://t.me/PAYOK_Payment_Solutions/" class="fa icon-tg" target="_blank"></a>
                    <div class="social-tg-qr social-d-none">
                        <img src="/images/scan-qr.png">
                    </div>
                </li>

                <li><a href="https://www.linkedin.com/company/payok-official/" class="fa icon-in" target="_blank"></a>
                </li>
                <li><a href="https://twitter.com/PAYOKPayment/" class="fa icon-tw" target="_blank"></a></li>
                <li><a href="mailto:enquire@payok.com" class="fa icon-el"></a></li>
                <!--   <li><a href="#" class="fa icon-fb" attr="facebook icon"></a></li>
                   <li><a href="#" class="fa icon-ins"></a></li>
                   <li><a href="#" class="fa icon-tw"></a></li>-->
            </ul>
            <p>enquire@payok.com</p>
        </div>

        <div>
            <p class="m-text">PAYOK brand is authorized and regulated in British Columbia (Canada) with MSB license number M23526166.
                The office is located at Metro Tower 2, 4720 Kingsway Suite 2600, Burnaby BC V5H 4N2</p>
        </div>

        <div class="m-footer-img">
           <p><img src="/images/logo-s.png" alt=""></p>
        </div>
    </div>
    <div class="mobile-copyright xs-hide">
        <span data-locale="copyright">Copyright © All rights Reserved. PAYOK.</span>
    </div>
</footer>
