.card {
  border: none;
  -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  margin-bottom: 24px;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 3.5rem;
}

.card-img, .card-img-top {
  border-top-left-radius: calc(3.5rem - 1px);
  border-top-right-radius: calc(3.5rem - 1px);
}
.card-img, .card-img-bottom, .card-img-top {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}

.card-img, .card-img-left {
  border-top-left-radius: calc(3.5rem - 1px);
  border-bottom-left-radius: calc(3.5rem - 1px);
}
.card-img, .card-img-right, .card-img-left {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.8rem;
  text-align: left;
}

.card-header, .card-title {
  margin-top: 0;
}
.card-title {
  margin-bottom: 0.133rem;
}